	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
			<div class="item item-title no-border item-positive-900">Radio Player</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/spartapp/sparta_player" >
					<i class="icon ion-android-volume-up" ></i>
					<p>{{ "Player" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title no-border item-positive-900">Multimedia</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/spartapp/live" >
					<i class="icon ion-heart" ></i>
					<p>{{ "Live" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/spartapp/youtube" >
					<i class="icon ion-social-youtube" ></i>
					<p>{{ "Youtube" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title no-border item-positive-900">Social</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/spartapp/menu_2" >
					<i class="icon ion-social-twitter" ></i>
					<p>{{ "Social" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
